html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    background: #FFF;
}

p {
    padding: 0 0 20px 0;
    line-height: 2em;
    text-align: justify;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #547cfc;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2 {}

h4, h5, h6 {
    margin: 0;
    padding: 0 0 5px 0;
}

h5, h6 {
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #FFF;
}

a:hover {
    text-decoration: none;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
}

ol {
    margin: 8px 0 22px 20px;
}

ol li {
    margin: 0 0 11px 0;
}

#main, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#header {
    background: transparent;
    height: 202px;
}

#logo {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#logo img {
    width: 350px;
}

#logo #logo_text {
    position: absolute;
    top: 20px;
    left: 0;
}

#logo h1, #logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #000;
    letter-spacing: -1px;
    text-decoration: none;
}

#logo_text h1 a .logo_couleur {
    color: #547cfc
}

#logo_text h1 a .logo_couleur2 {
    color: #e7e7e7
}

#logo_text h2 {
    font-size: 100%;
    padding: 4px 0 0 0;
    color: #547cfc;
}

#menubar {
    width: 90%;
    height: 52px;
    padding: 0;
    background: #2d2d2d;
    padding: 0 24px;
}

ul#menu, ul#menu li {
    float: left;
    margin: 0;
    padding: 0;
}

ul#menu li {
    list-style: none;
}

ul#menu li a {
    letter-spacing: 0.1em;
    font: normal 85% arial, sans-serif;
    display: block;
    float: left;
    height: 17px;
    margin: 10px 0 0 10px;
    padding: 9px 10px 6px 10px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    transition: ease-in-out 0.5s;
    border-radius: 20px;
}

ul#menu li a:hover, ul#menu li.selected a:hover {
    color: #547cfc;
    background: #fff;
}

ul#menu li.selected a {
    color: #fff;
    background: #547cfc;
    border-radius: 20px;
}

#site_content {
    width: 90%;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 0 24px 20px 20px;
    background: #2d2d2d;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    float: right;
    width: 210px;
    padding: 0 15px 20px 15px;
    font: normal 70% 'century gothic', arial, sans-serif;
}

.sidebar ul {
    width: 198px;
    padding: 4px 0 0 0;
    margin: 4px 0 30px 0;
}

.sidebar li {
    list-style: none;
    padding: 0 0 7px 0;
}

.sidebar li a, .sidebar li a:hover {
    padding: 0 0 0 40px;
    display: block;
    background: transparent url(link.png) no-repeat left center;
}

.sidebar li a.selected {
    color: #7E2451;
    text-decoration: none;
}

#content {
    font: normal 85% Arial, Helvetica, sans-serif;
    text-align: left;
    float: left;
    width: 80%;
    padding: 0;
}

#content ul {
    margin: 2px 0 22px 0px;
}

#footer {
    width: 898px;
    font: normal 75% Arial, Helvetica, sans-serif;
    height: 33px;
    padding: 24px 0 5px 0;
    text-align: center;
    background: transparent;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer a {
    color: #000;
    text-decoration: none;
}

#footer a:hover {
    color: #000;
    text-decoration: underline;
}

.search {
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
}

.entete {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

fieldset {
    width: 80%;
    padding: 40px;
    margin: auto;
}

table {
    width: 90%;
}

#recherchecv {
    display: flex;
    align-content: center;
    justify-content: center;
}

.searchinp {
    height: 30px;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 10px;
}

#sbmt {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #547cfc;
    color: white;
    border: #547cfc;
    float: right;
    margin: 10px;
    transition: ease-in-out 0.5s;
}

#sbmt:hover {
    background: white;
    color: #547cfc;
}

#thAff {
    background: #547cfc;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
}

#thAff th {}

.mainAff {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    width: 100%;
}

.claire, .foncé {
    text-align: center;
    height: 40px;
}

.claire {
    background: white;
    color: #547cfc;
}

.foncé {
    background: #98adf0;
    color: white;
}

.claire a {
    color: #547cfc;
}

.foncé a {
    color: #fff;
}

.claire img, .foncé img {
    width: 30px;
}

#main {
    width: 100%;
    padding-bottom: 30px;
}